<div class="my-5">
    <div class="col">
        <div class="title text-center mb-5">
            <h1>my recipes</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 g-lg-3 py-4 justify-content-around">
            <% recipes.forEach((item)=>{%>
                <div class="col text-center">
                    <a href="/dashboard/category/<%- item.category %>/<%- item._id %>" class="col text-center category_link">
                        <div class="category_img rounded-3">
                            <img src="/uploads/<%- item.image %>" class="rounded-3" width="240px" alt="">
                        </div>
                        <div class="pt-1 category_title link-secondary text-center"><%- item.name %></div>
                    </a>
                    <div class="d-flex justify-content-center mt-3">
                        <form action="/dashboard/delete/<%- item._id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                        <a href="/dashboard/update/<%- item._id %>" class="btn btn-primary">UPDATE</a>
                    </div>
                </div>
            <% }) %>
            <!-- Add more items as needed -->
        </div>
    </div>
</div>
